body {
	font-family: sans-serif;
}
.container {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	width: 577px;
	height: 418px;
}
.laptop {
	position: absolute;
	top: 137px;
	left: 119px;
	width: 340px;
	height: 190px;
}
.laptop-bottom path {
	fill: #959C9E;
}
.laptop-bottom rect {
	fill: #EBEFF0;
}
.laptop-lid {
	fill: #F5F7F8;
}
.screen-bg {
	fill: #fff;
	opacity: 0;
}
.grid {
	opacity: 0;
	stroke: #EBEFF0;
	stroke-width: 2;
}
.chart {
	fill: none;
	stroke: #95C11F;
	stroke-width: 3;
	stroke-linecap: round;
	stroke-linejoin: round;
}
.chart:nth-child(1) {
	stroke-dasharray: 403;
	stroke-dashoffset: 403;
}
.chart:nth-child(2) {
	stroke-dasharray: 395;
	stroke-dashoffset: 395;
}
.chart:nth-child(3) {
	stroke-dasharray: 332;
	stroke-dashoffset: 332;
}
.chart:nth-child(4) {
	stroke-dasharray: 425;
	stroke-dashoffset: 425;
}
.logo {
	opacity: 0;
}
.logo path:nth-child(1) {
	fill: #95C11F;
}
.logo path:nth-child(2) {
	fill: #fff;
}
.logo text {
	fill: #fff;
	font-size: 7px;
}

.text-block {
	opacity: 0;
	position: absolute;
	font-weight: 600;
}
.text-block.big {
	font-size: 16px;
	padding: 6px 16px;
}
.text-block svg {
	width: 32px;
	float: left;
}
.text-block div {
	float: left;
	line-height: 32px;
	padding-left: 5px;
}
.ai {
	fill: #C64C4C;
	color: #953939;
	top: 49px;
	left: 74px;
	border-radius: 4px;
	background-color: #FCBFBF;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.cryptocurrency {
	fill: #CC7825;
	color: #995A1C;
	top: 100px;
	left: 342px;
	border-radius: 4px;
	background-color: #FFD5AB;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.autonomous-driving {
	fill: #69B397;
	color: #4F8671;
	top: 360px;
	left: 316px;
	border-radius: 4px;
	background-color: #CDF3E5;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.commodities {
	fill: #6D9EBC;
	color: #52778D;
	top: 222px;
	left: 10px;
	border-radius: 4px;
	background-color: #CFE8F7;
	box-shadow: 0 5px 22px -5px rgba(0, 0, 0, 0.3);
}
.white-block {
	color: #636D70;
	border: 1px solid #F5F7F8;
	border-radius: 4px;
	background-color: #FFFFFF;
	box-shadow: 0 9px 37px -12px rgba(0, 0, 0, 0.3);
}
.white-block.medium {
	font-size: 14px;
	line-height: 19px;
	padding: 10px 19px;
}
.white-block.small {
	font-size: 12px;
	line-height: 17px;
	padding: 8px 16px;
}
.day-trading {
	top: 0;
	left: 273px;
}
.robotics {
	top: 38px;
	left: 456px;
}
.emerging-markets {
	top: 199px;
	left: 415px;
}
.e-mobility {
	top: 262px;
	left: 441px;
}
.small-caps {
	top: 360px;
	left: 127px;
}
.solar {
	top: 310px;
	left: 27px;
}
.german-stocks {
	top: 131px;
	left: 30px;
}